body {
  width: 100%;
}

ul {
  list-style-type: none;
}

.content {
  gap: 20vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.table-container {
  width: 40vw;
}

.table-input {
  display: flex;
  flex-direction: column;
}

.form {
  width: 50%;
}

input {
  width: 100%;
  height: 20px;
  margin-bottom: 15px;
}

.submit-btn {
  float: right;
}

.top-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.refresh-btn {
  width: 30%;
  height: 30px;
}

.score-list {
  border: 2px solid black;
}

.score-list p {
  border-bottom: 1px solid gray;
  padding: 5px;
  margin: 0;
}

.odd {
  color: black;
  background-color: #fff;
}

.even {
  color: #fff;
  background-color: gray;
}
